force-app/main/default/flows/Account_to_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Approve_Proposals</name>
        <choiceText>Approve Proposals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve Proposals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Close_Opportunity</name>
        <choiceText>Close Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Quote_Proposal</name>
        <choiceText>Create Quote/Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Quote/Proposal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Negotiation</name>
        <choiceText>Negotiation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Negotiation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_Proposal</name>
        <choiceText>Submit Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit Proposal</stringValue>
        </value>
    </choices>
    <formulas>
        <name>base_URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260},FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!Account_Name.recordName}&amp;&quot; - &quot;&amp;TEXT({!AccountCountry.BillingCountryCode})&amp;&quot; - &quot;&amp;TEXT({!DueDate})</expression>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!Account_Name.recordName}</expression>
    </formulas>
    <interviewLabel>Account to Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account to Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>AccountCountry.Account_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Simple_Quote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Create Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Simple_Quote_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>AccountCountry.Account_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Stage__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Simple_Quote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>AccountCountry</name>
        <label>Account Country</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountCountry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simple_Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Quote_Properties</name>
        <label>Quote Properties</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Quote_Properties_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Properties_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Quote Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_Name</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Simple_Quote_Created</name>
        <label>Simple Quote Created!</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>record_created</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(49, 195, 4);&quot;&gt;The Quote record has been created. &lt;/span&gt;&lt;a href=&quot;{!base_URL}{!Create_Quote}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(49, 195, 4);&quot;&gt;&lt;strong&gt;&lt;u&gt;Click here&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(49, 195, 4);&quot;&gt; to navigate to Quote record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_Properties</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
