force-app/main/default/flows/Add_Template_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>colItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Template_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_MS</name>
        <label>Add To Collection</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>colMktShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recMktShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Template_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Targets</name>
        <label>Add to Collection</label>
        <locationX>402</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>colTargets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recTargets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Template_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Rec</name>
        <label>Add to Rec</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recMktShare.Size_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template_Items.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recMktShare.Account_plan_2_0__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recMktShare.Order_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template_Items.Order_Field__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_MS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Value_to_Rec</name>
        <label>Add Value to Rec</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recTargets.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template_Items.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTargets.Account_plan_2_0__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Targets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Value_to_Record</name>
        <label>Add Value to Record</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recItems.Item_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Template_Items.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recItems.Account_plan_2_0__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Selected</name>
        <label>Check if Selected</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Plan_Template_Selector</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Template_Items</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Which_Type</name>
        <label>Determine Which Type</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Template_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Template_Items.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Value_to_Record</targetReference>
            </connector>
            <label>Item</label>
        </rules>
        <rules>
            <name>Targets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Template_Items.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Targets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Value_to_Rec</targetReference>
            </connector>
            <label>Targets</label>
        </rules>
        <rules>
            <name>MktShare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Template_Items.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MktShare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Rec</targetReference>
            </connector>
            <label>MktShare</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>listTemplates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Action_Plan_Template__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add Template Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Template Items</label>
    <loops>
        <name>Loop_Through_Template_Items</name>
        <label>Loop Through Template Items</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Template_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Which_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Items</name>
        <label>Create Items</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Create_Targets</targetReference>
        </connector>
        <inputReference>colItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_MktShare</name>
        <label>Create MktShare</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Records_Added</targetReference>
        </connector>
        <inputReference>colMktShare</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Targets</name>
        <label>Create Targets</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Create_MktShare</targetReference>
        </connector>
        <inputReference>colTargets</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Template_Items</name>
        <label>Get Template Items</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action_Plan_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Template_to_Use</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Action_Plan_Template_Item__c</object>
        <sortField>Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Action_Plan_Template_Selector</name>
        <label>Action Plan Template Selector</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Template_Items</targetReference>
        </connector>
        <fields>
            <name>Template_to_Use</name>
            <choiceReferences>listTemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template to Use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Records_Added</name>
        <label>Records Added</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayBanner</name>
            <fieldText>&lt;p&gt;Template Added to Account Plan&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action_Plan_Template_Selector</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan_Item__c</objectType>
    </variables>
    <variables>
        <name>colMktShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan_MS__c</objectType>
    </variables>
    <variables>
        <name>colTargets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan_Target__c</objectType>
    </variables>
    <variables>
        <name>recItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan_Item__c</objectType>
    </variables>
    <variables>
        <name>recMktShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan_MS__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTargets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan_Target__c</objectType>
    </variables>
</Flow>
