force-app/main/default/flows/Approvals_Module_UserSetter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_users_to_variable</name>
        <label>set users to variable</label>
        <locationX>930</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>users</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_all_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_users_to_variable_SA</name>
        <label>set users to variable SA</label>
        <locationX>4350</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>users</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_all_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_GM_for_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_variable_for_sm_bwa</name>
        <label>set variable for sm bwa</label>
        <locationX>4702</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SMforBWA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_GM_for_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_GM_for_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_variable_for_sm_moz</name>
        <label>set variable for sm moz</label>
        <locationX>5230</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SMforMOZ</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_GM_for_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_GM_for_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_variable_for_sm_nam</name>
        <label>set variable for sm nam</label>
        <locationX>4966</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SMforNAM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_GM_for_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_GM_for_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_variable_for_sm_zwe</name>
        <label>set variable for sm zwe</label>
        <locationX>5494</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SMforZWE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_GM_for_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_GM_for_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Country</name>
        <label>Country</label>
        <locationX>2986</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <label>USA</label>
        </rules>
        <rules>
            <name>IBERIA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meets_Criteria_for_approval</targetReference>
            </connector>
            <label>IBERIA</label>
        </rules>
        <rules>
            <name>SOUTH_AFRICA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meets_Criteria_for_approval_SA</targetReference>
            </connector>
            <label>SOUTH AFRICA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_BLM</name>
        <label>Find BLM</label>
        <locationX>930</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADS_SED_or_SMT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SRD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_blm_for_ADS_SED_SMT</targetReference>
            </connector>
            <label>ADS, SED, SRD or SMT</label>
        </rules>
        <rules>
            <name>RVT_URE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UMR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_BLM_for_RVT_and_URE</targetReference>
            </connector>
            <label>RVT, URE</label>
        </rules>
        <rules>
            <name>TLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_blm_for_tld</targetReference>
            </connector>
            <label>TLD</label>
        </rules>
        <rules>
            <name>PSD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_blm_for_psd</targetReference>
            </connector>
            <label>PSD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_BLM_and_SM_SA</name>
        <label>Find BLM and SM SA</label>
        <locationX>4350</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DSD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BLM_for_DSD_SA</targetReference>
            </connector>
            <label>DSD SA</label>
        </rules>
        <rules>
            <name>PSD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BLM_for_PSD_SA</targetReference>
            </connector>
            <label>PSD SA</label>
        </rules>
        <rules>
            <name>SRD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SRD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Business_Line_for_SRD_SA</targetReference>
            </connector>
            <label>SRD SA</label>
        </rules>
        <rules>
            <name>TLD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SM_and_BLM_for_TLD_SA</targetReference>
            </connector>
            <label>TLD SA</label>
        </rules>
        <rules>
            <name>UMR_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UMR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SM_and_BLM_for_UMR_SA</targetReference>
            </connector>
            <label>UMR SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>find_BLM_for_DSD_SA</name>
        <label>find BLM for DSD SA</label>
        <locationX>2910</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Set_BLM_for_DSD_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BLM_for_DSD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_BLM_for_DSD_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_DSD_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_for_DSD_SA</targetReference>
            </connector>
            <label>is BLM for DSD SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>find_BLM_for_PSD_SA</name>
        <label>find BLM for PSD SA</label>
        <locationX>3786</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Set_BLM_for_PSD_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BLM_for_PSD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_BLM_for_PSD_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_PSD_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_for_PSD_SA</targetReference>
            </connector>
            <label>is BLM for PSD SA</label>
        </rules>
        <rules>
            <name>is_SM_for_PSD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_BLM_for_PSD_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Sales_Manager_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SM_for_PSD_SA</targetReference>
            </connector>
            <label>is SM for PSD SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Business_Line_for_SRD_SA</name>
        <label>Find Business Line for SRD SA</label>
        <locationX>4218</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADS_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SM_and_BLM_for_ADS_SA</targetReference>
            </connector>
            <label>ADS SA</label>
        </rules>
        <rules>
            <name>SED_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SM_and_BLM_for_SED_SA</targetReference>
            </connector>
            <label>SED SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>find_roles</name>
        <label>find roles</label>
        <locationX>1282</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>set_approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>set_approvers.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Manager_Iberia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>set_approvers.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_SM</targetReference>
            </connector>
            <label>Is SM</label>
        </rules>
        <rules>
            <name>Is_GM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>set_approvers.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Manager_Iberia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>set_approvers.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_GM</targetReference>
            </connector>
            <label>Is GM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BLM_or_SM_for_ADS_SA</name>
        <label>Is BLM or SM for ADS SA</label>
        <locationX>4134</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Find_SM_and_BLM_for_ADS_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BLM_ADS_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_ADS_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_SRD_ADS_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_ADS_SA</targetReference>
            </connector>
            <label>is BLM ADS SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BLM_or_SM_for_SED_SA</name>
        <label>Is BLM or SM for SED SA</label>
        <locationX>4614</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Find_SM_and_BLM_for_SED_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BLM_SED_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_SED_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_SRD_SED_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_SED_SA</targetReference>
            </connector>
            <label>is BLM SED SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SA_GM</name>
        <label>Is SA GM?</label>
        <locationX>5098</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_GM_for_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_SA_GM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_GM_for_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Manager_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approver_GM_SA</targetReference>
            </connector>
            <label>Set SA GM</label>
        </rules>
        <rules>
            <name>set_SM_for_BWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_GM_for_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Country_Sales_Manager_Botswana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_variable_for_sm_bwa</targetReference>
            </connector>
            <label>set SM for BWA</label>
        </rules>
        <rules>
            <name>set_SM_for_NAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_GM_for_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Country_Sales_Manager_Namibia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_variable_for_sm_nam</targetReference>
            </connector>
            <label>set SM for NAM</label>
        </rules>
        <rules>
            <name>set_SM_for_MOZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_GM_for_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Country_Sales_Manager_Mozambique</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_variable_for_sm_moz</targetReference>
            </connector>
            <label>set SM for MOZ</label>
        </rules>
        <rules>
            <name>set_SM_for_ZWE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_GM_for_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Country_Sales_Manager_Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_variable_for_sm_zwe</targetReference>
            </connector>
            <label>set SM for ZWE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SM_or_BLM_for_TLD_SA</name>
        <label>Is SM or BLM for TLD SA</label>
        <locationX>5754</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Find_SM_and_BLM_for_TLD_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SM_for_TLD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_TLD_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Sales_Manager_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SM_for_TLD_SA</targetReference>
            </connector>
            <label>Is SM for TLD SA</label>
        </rules>
        <rules>
            <name>Is_BLM_for_TLD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_TLD_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_TLD_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_for_TLD_SA</targetReference>
            </connector>
            <label>Is BLM for TLD SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SM_or_BLM_for_UMR_SA</name>
        <label>Is SM or BLM for UMR SA</label>
        <locationX>6102</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Find_SM_and_BLM_for_UMR_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_BLM_for_UMR_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_UMR_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_UMR_URE_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_for_UMR_SA</targetReference>
            </connector>
            <label>Is BLM for UMR SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Criteria_for_approval</name>
        <label>Meets Criteria for approval</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_the_prequisites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_users</targetReference>
            </connector>
            <label>has the prequisites</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Criteria_for_approval_SA</name>
        <label>Meets Criteria for approval SA</label>
        <locationX>5312</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_the_prequisites_SA</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UMR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_users_SA</targetReference>
            </connector>
            <label>has the prequisites SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>set_blm_for_psd</name>
        <label>set blm for psd</label>
        <locationX>1766</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>find_blm_for_psd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blm_for_psd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_blm_for_psd.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_PSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_blm_for_psd</targetReference>
            </connector>
            <label>blm for psd</label>
        </rules>
    </decisions>
    <decisions>
        <name>set_blm_for_srd</name>
        <label>set blm for srd</label>
        <locationX>270</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>find_blm_for_ADS_SED_SMT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blm_for_srd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_blm_for_ADS_SED_SMT.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_SRD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_record_for_blm_srd</targetReference>
            </connector>
            <label>blm for srd</label>
        </rules>
    </decisions>
    <decisions>
        <name>setblmfortld</name>
        <label>set blm for tld</label>
        <locationX>1150</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>find_blm_for_tld</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blm_for_tld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_blm_for_tld.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_TLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_record_for_blm_tld</targetReference>
            </connector>
            <label>blm for tld</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_country_in_SA</name>
        <label>which country in SA</label>
        <locationX>4350</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZAF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAF</stringValue>
                </rightValue>
            </conditions>
            <label>ZAF</label>
        </rules>
        <rules>
            <name>BWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSMforBWA</targetReference>
            </connector>
            <label>BWA</label>
        </rules>
        <rules>
            <name>NAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSMforNAM</targetReference>
            </connector>
            <label>NAM</label>
        </rules>
        <rules>
            <name>MOZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSMforMOZ</targetReference>
            </connector>
            <label>MOZ</label>
        </rules>
        <rules>
            <name>ZWE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSMforZWE</targetReference>
            </connector>
            <label>ZWE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Approvals_Module_UserSetter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approvals_Module_UserSetter</label>
    <loops>
        <name>find_blm_for_ADS_SED_SMT</name>
        <label>find blm for ADS,SED,SMT</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <collectionReference>users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_blm_for_srd</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>find_blm_for_psd</name>
        <label>find blm for psd</label>
        <locationX>1546</locationX>
        <locationY>1487</locationY>
        <collectionReference>users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_blm_for_psd</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>find_blm_for_tld</name>
        <label>find blm for tld</label>
        <locationX>930</locationX>
        <locationY>1487</locationY>
        <collectionReference>users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setblmfortld</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Find_SM_and_BLM_for_ADS_SA</name>
        <label>Find SM and BLM for ADS SA</label>
        <locationX>3914</locationX>
        <locationY>1607</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_BLM_or_SM_for_ADS_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>which_country_in_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_SM_and_BLM_for_SED_SA</name>
        <label>Find SM and BLM for SED SA</label>
        <locationX>4394</locationX>
        <locationY>1607</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_BLM_or_SM_for_SED_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>which_country_in_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_SM_and_BLM_for_TLD_SA</name>
        <label>Find SM and BLM for TLD SA</label>
        <locationX>5402</locationX>
        <locationY>1487</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_SM_or_BLM_for_TLD_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>which_country_in_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_SM_and_BLM_for_UMR_SA</name>
        <label>Find SM and BLM for UMR SA</label>
        <locationX>5882</locationX>
        <locationY>1487</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_SM_or_BLM_for_UMR_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>which_country_in_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>set_approvers</name>
        <label>set approvers</label>
        <locationX>930</locationX>
        <locationY>815</locationY>
        <collectionReference>users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_BLM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_BLM_for_DSD_SA</name>
        <label>Set BLM for DSD SA</label>
        <locationX>2690</locationX>
        <locationY>1487</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_BLM_for_DSD_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>which_country_in_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_BLM_for_PSD_SA</name>
        <label>Set BLM for PSD SA</label>
        <locationX>3434</locationX>
        <locationY>1487</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_BLM_for_PSD_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>which_country_in_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_GM_for_SA</name>
        <label>Set GM for SA</label>
        <locationX>4350</locationX>
        <locationY>815</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_SA_GM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_BLM_and_SM_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_users</name>
        <label>get all users</label>
        <locationX>930</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_users_to_variable</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_users_SA</name>
        <label>get all users SA</label>
        <locationX>4350</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_users_to_variable_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assign_BLM_ADS_SA</name>
        <label>assign BLM ADS SA</label>
        <locationX>4002</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>is_SM_for_ADS_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_ADS_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_for_DSD_SA</name>
        <label>assign BLM for DSD SA</label>
        <locationX>2778</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Set_SM_for_DSD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Set_BLM_for_DSD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_for_PSD_SA</name>
        <label>assign BLM for PSD SA</label>
        <locationX>3522</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Set_BLM_for_PSD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Set_BLM_for_PSD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_for_TLD_SA</name>
        <label>assign BLM for TLD SA</label>
        <locationX>5754</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_TLD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_TLD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_for_UMR_SA</name>
        <label>assign BLM for UMR SA</label>
        <locationX>5970</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>assign_SM_for_UMR_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_UMR_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_SED_SA</name>
        <label>assign BLM SED SA</label>
        <locationX>4482</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>is_SM_for_SED_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_SED_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_SM_for_TLD_SA</name>
        <label>assign SM for TLD SA</label>
        <locationX>5490</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_TLD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_TLD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_SM_for_UMR_SA</name>
        <label>assign SM for UMR SA</label>
        <locationX>5970</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_UMR_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_UMR_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>is_SM_for_ADS_SA</name>
        <label>is SM for ADS SA</label>
        <locationX>4002</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_ADS_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_ADS_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>is_SM_for_SED_SA</name>
        <label>is SM for SED SA</label>
        <locationX>4482</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_SED_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_SED_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approver_GM_SA</name>
        <label>Set Approver GM SA</label>
        <locationX>4438</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Set_GM_for_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_GM__c</field>
            <value>
                <elementReference>Set_GM_for_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_BLM_for_RVT_and_URE</name>
        <label>set BLM for RVT and URE</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>$Record.Approval_criteria_GM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_GM</name>
        <label>set GM</label>
        <locationX>1282</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>set_approvers</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_GM__c</field>
            <value>
                <elementReference>set_approvers.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_SM</name>
        <label>set SM</label>
        <locationX>1018</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>set_approvers</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>set_approvers.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SM_for_DSD_SA</name>
        <label>Set SM for DSD SA</label>
        <locationX>2778</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Set_BLM_for_DSD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Set_BLM_for_DSD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SM_for_PSD_SA</name>
        <label>Set SM for PSD SA</label>
        <locationX>3786</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Set_BLM_for_PSD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Set_BLM_for_PSD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setSMforBWA</name>
        <label>setSMforBWA</label>
        <locationX>3954</locationX>
        <locationY>2591</locationY>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>SMforBWA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setSMforMOZ</name>
        <label>setSMforMOZ</label>
        <locationX>4482</locationX>
        <locationY>2591</locationY>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>SMforMOZ.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setSMforNAM</name>
        <label>setSMforNAM</label>
        <locationX>4218</locationX>
        <locationY>2591</locationY>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>SMforNAM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setSMforZWE</name>
        <label>setSMforZWE</label>
        <locationX>4746</locationX>
        <locationY>2591</locationY>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>SMforZWE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_blm_for_psd</name>
        <label>update blm for psd</label>
        <locationX>1634</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>find_blm_for_psd</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>find_blm_for_psd.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_for_blm_srd</name>
        <label>update record for blm srd</label>
        <locationX>138</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>find_blm_for_ADS_SED_SMT</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>find_blm_for_ADS_SED_SMT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_for_blm_tld</name>
        <label>update record for blm tld</label>
        <locationX>1018</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>find_blm_for_tld</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>find_blm_for_tld.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2860</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Country</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SMforBWA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SMforMOZ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SMforNAM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SMforZWE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
