force-app/main/default/flows/Approvals_Module_ProcessTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_T1C</name>
        <label>Approval T1C</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T1S</name>
        <label>Approval T1S</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T2C</name>
        <label>Approval T2C</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T2S</name>
        <label>Approval T2S</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T3C</name>
        <label>Approval T3C</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T3S</name>
        <label>Approval T3S</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approval_T1C</name>
        <label>Copy 1 of Approval T1C</label>
        <locationX>6914</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approval_T2C</name>
        <label>Copy 1 of Approval T2C</label>
        <locationX>7178</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approval_T3C</name>
        <label>Copy 1 of Approval T3C</label>
        <locationX>7442</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T1C</name>
        <label>Copy 1 of Copy 1 of Approval T1C</label>
        <locationX>7970</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T2C</name>
        <label>Copy 1 of Copy 1 of Approval T2C</label>
        <locationX>8234</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T2S</name>
        <label>Copy 1 of Copy 1 of Approval T2S</label>
        <locationX>3218</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T3C</name>
        <label>Copy 1 of Copy 1 of Approval T3C</label>
        <locationX>8498</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T3S</name>
        <label>Copy 1 of Copy 1 of Approval T3S</label>
        <locationX>3482</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T1C</name>
        <label>Copy 2 of Copy 1 of Approval T1C</label>
        <locationX>9026</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T2C</name>
        <label>Copy 2 of Copy 1 of Approval T2C</label>
        <locationX>9290</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T2S</name>
        <label>Copy 2 of Copy 1 of Approval T2S</label>
        <locationX>4010</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T3C</name>
        <label>Copy 2 of Copy 1 of Approval T3C</label>
        <locationX>9554</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T3S</name>
        <label>Copy 2 of Copy 1 of Approval T3S</label>
        <locationX>4274</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T1C</name>
        <label>Copy 3 of Copy 1 of Approval T1C</label>
        <locationX>10082</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T2C</name>
        <label>Copy 3 of Copy 1 of Approval T2C</label>
        <locationX>10346</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T2S</name>
        <label>Copy 3 of Copy 1 of Approval T2S</label>
        <locationX>4802</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T3C</name>
        <label>Copy 3 of Copy 1 of Approval T3C</label>
        <locationX>10610</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T3S</name>
        <label>Copy 3 of Copy 1 of Approval T3S</label>
        <locationX>5066</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Copy_1_of_Approval_T2S</name>
        <label>Copy 4 of Copy 1 of Approval T2S</label>
        <locationX>5594</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Copy_1_of_Approval_T3S</name>
        <label>Copy 4 of Copy 1 of Approval T3S</label>
        <locationX>5858</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>approval_stage_complex</name>
        <label>approval stage complex</label>
        <locationX>2096</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>approval_is_needed_Complex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Tier_Complex</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>approval is needed Complex</label>
        </rules>
    </decisions>
    <decisions>
        <name>approval_stage_simple</name>
        <label>approval stage simple</label>
        <locationX>776</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>approval_is_needed_Simple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Tier</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>approval is needed Simple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Tier</name>
        <label>Approval Tier</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_1</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T1S</targetReference>
            </connector>
            <label>Tier 1</label>
        </rules>
        <rules>
            <name>Tier_2</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T2S</targetReference>
            </connector>
            <label>Tier 2</label>
        </rules>
        <rules>
            <name>Tier_3</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T3S</targetReference>
            </connector>
            <label>Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Tier_Complex</name>
        <label>Approval Tier Complex</label>
        <locationX>1766</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_1C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T1C</targetReference>
            </connector>
            <label>Tier 1C</label>
        </rules>
        <rules>
            <name>Tier_2C</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T2C</targetReference>
            </connector>
            <label>Tier 2C</label>
        </rules>
        <rules>
            <name>Tier_3C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T3C</targetReference>
            </connector>
            <label>Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_approval_stage_complex</name>
        <label>Copy 1 of approval stage complex</label>
        <locationX>10313</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_approval_is_needed_Complex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_whichSAcountry</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy 1 of approval is needed Complex</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_approval_stage_simple</name>
        <label>Copy 1 of approval stage simple</label>
        <locationX>5792</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_approval_is_needed_Simple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>whichSAcountry</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy 1 of approval is needed Simple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Approval_Tier_Complex</name>
        <label>Copy 1 of Approval Tier Complex</label>
        <locationX>7310</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Tier_1C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approval_T1C</targetReference>
            </connector>
            <label>Copy 1 of Tier 1C</label>
        </rules>
        <rules>
            <name>Copy_1_of_Tier_2C</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approval_T2C</targetReference>
            </connector>
            <label>Copy 1 of Tier 2C</label>
        </rules>
        <rules>
            <name>Copy_1_of_Tier_3C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approval_T3C</targetReference>
            </connector>
            <label>Copy 1 of Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Approval_Tier</name>
        <label>Copy 1 of Copy 1 of Approval Tier</label>
        <locationX>3482</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_2</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T2S</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 2</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_3</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T3S</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Approval_Tier_Complex</name>
        <label>Copy 1 of Copy 1 of Approval Tier Complex</label>
        <locationX>8366</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_1C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>55000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T1C</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 1C</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_2C</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>55000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T2C</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 2C</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_3C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T3C</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Simple_or_complex</name>
        <label>Copy 1 of Simple or complex</label>
        <locationX>8729</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Simple_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simple_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_approval_stage_simple</targetReference>
            </connector>
            <label>Copy 1 of Simple Opp</label>
        </rules>
        <rules>
            <name>Copy_1_of_complex_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex_bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_approval_stage_complex</targetReference>
            </connector>
            <label>Copy 1 of complex opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_whichSAcountry</name>
        <label>Copy 1 of whichSAcountry</label>
        <locationX>9224</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ZAF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approval_Tier_Complex</targetReference>
            </connector>
            <label>Copy 1 of ZAF</label>
        </rules>
        <rules>
            <name>Copy_1_of_ZWE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_Tier_Complex</targetReference>
            </connector>
            <label>Copy 1 of ZWE</label>
        </rules>
        <rules>
            <name>Copy_1_of_NAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_Tier_Complex</targetReference>
            </connector>
            <label>Copy 1 of NAM</label>
        </rules>
        <rules>
            <name>Copy_1_of_BWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_Tier_Complex</targetReference>
            </connector>
            <label>Copy 1 of BWA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_1_of_Approval_Tier</name>
        <label>Copy 2 of Copy 1 of Approval Tier</label>
        <locationX>4274</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_2</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>55000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T2S</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 2</label>
        </rules>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_3</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T3S</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_1_of_Approval_Tier_Complex</name>
        <label>Copy 2 of Copy 1 of Approval Tier Complex</label>
        <locationX>9422</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_1C</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T1C</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 1C</label>
        </rules>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_2C</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T2C</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 2C</label>
        </rules>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_3C</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T3C</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Copy_1_of_Approval_Tier</name>
        <label>Copy 3 of Copy 1 of Approval Tier</label>
        <locationX>5066</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_2</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T2S</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 2</label>
        </rules>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_3</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T3S</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Copy_1_of_Approval_Tier_Complex</name>
        <label>Copy 3 of Copy 1 of Approval Tier Complex</label>
        <locationX>10478</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_1C</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>730000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T1C</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 1C</label>
        </rules>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_2C</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>730000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T2C</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 2C</label>
        </rules>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_3C</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T3C</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Copy_1_of_Approval_Tier</name>
        <label>Copy 4 of Copy 1 of Approval Tier</label>
        <locationX>5858</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Copy_1_of_Tier_2</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>730000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Approval_T2S</targetReference>
            </connector>
            <label>Copy 4 of Copy 1 of Tier 2</label>
        </rules>
        <rules>
            <name>Copy_4_of_Copy_1_of_Tier_3</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Approval_T3S</targetReference>
            </connector>
            <label>Copy 4 of Copy 1 of Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country</name>
        <label>Country</label>
        <locationX>5990</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <label>USA</label>
        </rules>
        <rules>
            <name>IBERIA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meets_Criteria_for_approval</targetReference>
            </connector>
            <label>IBERIA</label>
        </rules>
        <rules>
            <name>SOUTH_AFRICA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meets_Criteria_for_approval_SA</targetReference>
            </connector>
            <label>SOUTH AFRICA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Criteria_for_approval</name>
        <label>Meets Criteria for approval</label>
        <locationX>2343</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_the_prequisites</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Sales_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_BLM__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_GM__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Simple_or_complex</targetReference>
            </connector>
            <label>has the prequisites</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Criteria_for_approval_SA</name>
        <label>Meets Criteria for approval SA</label>
        <locationX>10329</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_the_prequisites_SA</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8) AND (9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UMR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TLD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Sales_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_BLM__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_GM__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Simple_or_complex</targetReference>
            </connector>
            <label>has the prequisites SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Simple_or_complex</name>
        <label>Simple or complex</label>
        <locationX>1733</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Simple_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simple_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>approval_stage_simple</targetReference>
            </connector>
            <label>Simple Opp</label>
        </rules>
        <rules>
            <name>complex_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex_bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>approval_stage_complex</targetReference>
            </connector>
            <label>complex opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichSAcountry</name>
        <label>whichSAcountry</label>
        <locationX>4934</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZAF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_Tier</targetReference>
            </connector>
            <label>ZAF</label>
        </rules>
        <rules>
            <name>ZWE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_Tier</targetReference>
            </connector>
            <label>ZWE</label>
        </rules>
        <rules>
            <name>NAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_Tier</targetReference>
            </connector>
            <label>NAM</label>
        </rules>
        <rules>
            <name>BWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Approval_Tier</targetReference>
            </connector>
            <label>BWA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Approvals_Module_ProcessTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approvals_Module_ProcessTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>5864</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Country</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
