force-app/main/default/flows/approvals_opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_T1C</name>
        <label>Approval T1C</label>
        <locationX>1370</locationX>
        <locationY>2495</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T1S</name>
        <label>Approval T1S</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T2C</name>
        <label>Approval T2C</label>
        <locationX>1634</locationX>
        <locationY>2495</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T2S</name>
        <label>Approval T2S</label>
        <locationX>314</locationX>
        <locationY>2495</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T3C</name>
        <label>Approval T3C</label>
        <locationX>1898</locationX>
        <locationY>2495</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_T3S</name>
        <label>Approval T3S</label>
        <locationX>578</locationX>
        <locationY>2495</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approval_T1C</name>
        <label>Copy 1 of Approval T1C</label>
        <locationX>7970</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approval_T2C</name>
        <label>Copy 1 of Approval T2C</label>
        <locationX>8234</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approval_T3C</name>
        <label>Copy 1 of Approval T3C</label>
        <locationX>8498</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T1C</name>
        <label>Copy 1 of Copy 1 of Approval T1C</label>
        <locationX>9026</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T1S</name>
        <label>Copy 1 of Copy 1 of Approval T1S</label>
        <locationX>3218</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T2C</name>
        <label>Copy 1 of Copy 1 of Approval T2C</label>
        <locationX>9290</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T2S</name>
        <label>Copy 1 of Copy 1 of Approval T2S</label>
        <locationX>3482</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T3C</name>
        <label>Copy 1 of Copy 1 of Approval T3C</label>
        <locationX>9554</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Approval_T3S</name>
        <label>Copy 1 of Copy 1 of Approval T3S</label>
        <locationX>3746</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T1C</name>
        <label>Copy 2 of Copy 1 of Approval T1C</label>
        <locationX>10082</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T1S</name>
        <label>Copy 2 of Copy 1 of Approval T1S</label>
        <locationX>4274</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T2C</name>
        <label>Copy 2 of Copy 1 of Approval T2C</label>
        <locationX>10346</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T2S</name>
        <label>Copy 2 of Copy 1 of Approval T2S</label>
        <locationX>4538</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T3C</name>
        <label>Copy 2 of Copy 1 of Approval T3C</label>
        <locationX>10610</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Approval_T3S</name>
        <label>Copy 2 of Copy 1 of Approval T3S</label>
        <locationX>4802</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T1C</name>
        <label>Copy 3 of Copy 1 of Approval T1C</label>
        <locationX>11138</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T1S</name>
        <label>Copy 3 of Copy 1 of Approval T1S</label>
        <locationX>5330</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T2C</name>
        <label>Copy 3 of Copy 1 of Approval T2C</label>
        <locationX>11402</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T2S</name>
        <label>Copy 3 of Copy 1 of Approval T2S</label>
        <locationX>5594</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T3C</name>
        <label>Copy 3 of Copy 1 of Approval T3C</label>
        <locationX>11666</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Approval_T3S</name>
        <label>Copy 3 of Copy 1 of Approval T3S</label>
        <locationX>5858</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Copy_1_of_Approval_T1S</name>
        <label>Copy 4 of Copy 1 of Approval T1S</label>
        <locationX>6386</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Copy_1_of_Approval_T2S</name>
        <label>Copy 4 of Copy 1 of Approval T2S</label>
        <locationX>6650</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_and_BLM_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Copy_1_of_Approval_T3S</name>
        <label>Copy 4 of Copy 1 of Approval T3S</label>
        <locationX>6914</locationX>
        <locationY>2831</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SM_BLM_and_GM_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_users_to_variable</name>
        <label>set users to variable</label>
        <locationX>1733</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>users</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_all_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_users_to_variable_SA</name>
        <label>set users to variable SA</label>
        <locationX>9669</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>users</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_all_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_GM_for_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>approval_stage_complex</name>
        <label>approval stage complex</label>
        <locationX>2096</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>approval_is_needed_Complex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Tier_Complex</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>approval is needed Complex</label>
        </rules>
    </decisions>
    <decisions>
        <name>approval_stage_simple</name>
        <label>approval stage simple</label>
        <locationX>776</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>approval_is_needed_Simple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Tier</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>approval is needed Simple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Tier</name>
        <label>Approval Tier</label>
        <locationX>446</locationX>
        <locationY>2375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_1</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T1S</targetReference>
            </connector>
            <label>Tier 1</label>
        </rules>
        <rules>
            <name>Tier_2</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T2S</targetReference>
            </connector>
            <label>Tier 2</label>
        </rules>
        <rules>
            <name>Tier_3</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T3S</targetReference>
            </connector>
            <label>Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Tier_Complex</name>
        <label>Approval Tier Complex</label>
        <locationX>1766</locationX>
        <locationY>2375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_1C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T1C</targetReference>
            </connector>
            <label>Tier 1C</label>
        </rules>
        <rules>
            <name>Tier_2C</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T2C</targetReference>
            </connector>
            <label>Tier 2C</label>
        </rules>
        <rules>
            <name>Tier_3C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_T3C</targetReference>
            </connector>
            <label>Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_approval_stage_complex</name>
        <label>Copy 1 of approval stage complex</label>
        <locationX>11369</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_approval_is_needed_Complex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_whichSAcountry</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy 1 of approval is needed Complex</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_approval_stage_simple</name>
        <label>Copy 1 of approval stage simple</label>
        <locationX>6617</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_approval_is_needed_Simple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>whichSAcountry</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy 1 of approval is needed Simple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Approval_Tier_Complex</name>
        <label>Copy 1 of Approval Tier Complex</label>
        <locationX>8366</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Tier_1C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approval_T1C</targetReference>
            </connector>
            <label>Copy 1 of Tier 1C</label>
        </rules>
        <rules>
            <name>Copy_1_of_Tier_2C</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approval_T2C</targetReference>
            </connector>
            <label>Copy 1 of Tier 2C</label>
        </rules>
        <rules>
            <name>Copy_1_of_Tier_3C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approval_T3C</targetReference>
            </connector>
            <label>Copy 1 of Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Approval_Tier</name>
        <label>Copy 1 of Copy 1 of Approval Tier</label>
        <locationX>3614</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_1</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T1S</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 1</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_2</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T2S</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 2</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_3</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T3S</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Approval_Tier_Complex</name>
        <label>Copy 1 of Copy 1 of Approval Tier Complex</label>
        <locationX>9422</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_1C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>55000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T1C</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 1C</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_2C</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>55000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T2C</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 2C</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Tier_3C</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_T3C</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Simple_or_complex</name>
        <label>Copy 1 of Simple or complex</label>
        <locationX>9669</locationX>
        <locationY>2351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Simple_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simple_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_approval_stage_simple</targetReference>
            </connector>
            <label>Copy 1 of Simple Opp</label>
        </rules>
        <rules>
            <name>Copy_1_of_complex_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex_bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_approval_stage_complex</targetReference>
            </connector>
            <label>Copy 1 of complex opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_whichSAcountry</name>
        <label>Copy 1 of whichSAcountry</label>
        <locationX>10280</locationX>
        <locationY>2591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ZAF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approval_Tier_Complex</targetReference>
            </connector>
            <label>Copy 1 of ZAF</label>
        </rules>
        <rules>
            <name>Copy_1_of_ZWE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_Tier_Complex</targetReference>
            </connector>
            <label>Copy 1 of ZWE</label>
        </rules>
        <rules>
            <name>Copy_1_of_NAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_Tier_Complex</targetReference>
            </connector>
            <label>Copy 1 of NAM</label>
        </rules>
        <rules>
            <name>Copy_1_of_BWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_Tier_Complex</targetReference>
            </connector>
            <label>Copy 1 of BWA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_1_of_Approval_Tier</name>
        <label>Copy 2 of Copy 1 of Approval Tier</label>
        <locationX>4670</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_1</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>55000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T1S</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 1</label>
        </rules>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_2</name>
            <conditionLogic>((1 AND 2) AND 5) OR ((3 AND 4) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>55000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T2S</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 2</label>
        </rules>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_3</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T3S</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_1_of_Approval_Tier_Complex</name>
        <label>Copy 2 of Copy 1 of Approval Tier Complex</label>
        <locationX>10478</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_1C</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T1C</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 1C</label>
        </rules>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_2C</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T2C</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 2C</label>
        </rules>
        <rules>
            <name>Copy_2_of_Copy_1_of_Tier_3C</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_T3C</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Copy_1_of_Approval_Tier</name>
        <label>Copy 3 of Copy 1 of Approval Tier</label>
        <locationX>5726</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T1S</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 1</label>
        </rules>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_2</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T2S</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 2</label>
        </rules>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_3</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T3S</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Copy_1_of_Approval_Tier_Complex</name>
        <label>Copy 3 of Copy 1 of Approval Tier Complex</label>
        <locationX>11534</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_1C</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>730000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T1C</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 1C</label>
        </rules>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_2C</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>730000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T2C</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 2C</label>
        </rules>
        <rules>
            <name>Copy_3_of_Copy_1_of_Tier_3C</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_T3C</targetReference>
            </connector>
            <label>Copy 3 of Copy 1 of Tier 3C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Copy_1_of_Approval_Tier</name>
        <label>Copy 4 of Copy 1 of Approval Tier</label>
        <locationX>6782</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Copy_1_of_Tier_1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>730000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_criteria_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Approval_T1S</targetReference>
            </connector>
            <label>Copy 4 of Copy 1 of Tier 1</label>
        </rules>
        <rules>
            <name>Copy_4_of_Copy_1_of_Tier_2</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>730000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Approval_T2S</targetReference>
            </connector>
            <label>Copy 4 of Copy 1 of Tier 2</label>
        </rules>
        <rules>
            <name>Copy_4_of_Copy_1_of_Tier_3</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.5E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Approval_T3S</targetReference>
            </connector>
            <label>Copy 4 of Copy 1 of Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country</name>
        <label>Country</label>
        <locationX>6518</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <label>USA</label>
        </rules>
        <rules>
            <name>IBERIA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meets_Criteria_for_approval</targetReference>
            </connector>
            <label>IBERIA</label>
        </rules>
        <rules>
            <name>SOUTH_AFRICA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meets_Criteria_for_approval_SA</targetReference>
            </connector>
            <label>SOUTH AFRICA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_BLM</name>
        <label>Find BLM</label>
        <locationX>1733</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADS_SED_or_SMT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SRD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_blm_for_ADS_SED_SMT</targetReference>
            </connector>
            <label>ADS, SED, SRD or SMT</label>
        </rules>
        <rules>
            <name>RVT_URE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UMR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_BLM_for_RVT_and_URE</targetReference>
            </connector>
            <label>RVT, URE</label>
        </rules>
        <rules>
            <name>TLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_blm_for_tld</targetReference>
            </connector>
            <label>TLD</label>
        </rules>
        <rules>
            <name>PSD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_blm_for_psd</targetReference>
            </connector>
            <label>PSD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_BLM_and_SM_SA</name>
        <label>Find BLM and SM SA</label>
        <locationX>9669</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TIN_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SM_and_BLM_for_TIN_SA</targetReference>
            </connector>
            <label>TIN SA</label>
        </rules>
        <rules>
            <name>DSD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BLM_for_DSD_SA</targetReference>
            </connector>
            <label>DSD SA</label>
        </rules>
        <rules>
            <name>PSD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BLM_for_PSD_SA</targetReference>
            </connector>
            <label>PSD SA</label>
        </rules>
        <rules>
            <name>SRD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SRD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Business_Line_for_SRD_SA</targetReference>
            </connector>
            <label>SRD SA</label>
        </rules>
        <rules>
            <name>TLD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SM_and_BLM_for_TLD_SA</targetReference>
            </connector>
            <label>TLD SA</label>
        </rules>
        <rules>
            <name>UMR_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UMR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SM_and_BLM_for_UMR_SA</targetReference>
            </connector>
            <label>UMR SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>find_BLM_for_DSD_SA</name>
        <label>find BLM for DSD SA</label>
        <locationX>8005</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Set_BLM_for_DSD_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BLM_for_DSD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_BLM_for_DSD_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_DSD_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_for_DSD_SA</targetReference>
            </connector>
            <label>is BLM for DSD SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>find_BLM_for_PSD_SA</name>
        <label>find BLM for PSD SA</label>
        <locationX>8621</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Set_BLM_for_PSD_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BLM_for_PSD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_BLM_for_PSD_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_PSD_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_for_PSD_SA</targetReference>
            </connector>
            <label>is BLM for PSD SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Business_Line_for_SRD_SA</name>
        <label>Find Business Line for SRD SA</label>
        <locationX>9849</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADS_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SM_and_BLM_for_ADS_SA</targetReference>
            </connector>
            <label>ADS SA</label>
        </rules>
        <rules>
            <name>SED_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SM_and_BLM_for_SED_SA</targetReference>
            </connector>
            <label>SED SA</label>
        </rules>
        <rules>
            <name>SMT_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__r.Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_and_SM_SMT_SA</targetReference>
            </connector>
            <label>SMT SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>find_roles</name>
        <label>find roles</label>
        <locationX>2085</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>set_approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>set_approvers.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Manager_Iberia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>set_approvers.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_SM</targetReference>
            </connector>
            <label>Is SM</label>
        </rules>
        <rules>
            <name>Is_GM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>set_approvers.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Manager_Iberia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>set_approvers.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_GM</targetReference>
            </connector>
            <label>Is GM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BLM_or_SM_for_ADS_SA</name>
        <label>Is BLM or SM for ADS SA</label>
        <locationX>9633</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Find_SM_and_BLM_for_ADS_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BLM_ADS_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_ADS_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_SRD_ADS_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_ADS_SA</targetReference>
            </connector>
            <label>is BLM ADS SA</label>
        </rules>
        <rules>
            <name>is_SM_ADS_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_ADS_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Manager_SRD_ADS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_SM_for_ADS_SA</targetReference>
            </connector>
            <label>is SM ADS SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BLM_or_SM_for_SED_SA</name>
        <label>Is BLM or SM for SED SA</label>
        <locationX>10377</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Find_SM_and_BLM_for_SED_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BLM_SED_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_SED_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_SRD_SED_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_SED_SA</targetReference>
            </connector>
            <label>is BLM SED SA</label>
        </rules>
        <rules>
            <name>is_SM_SED_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_SED_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Manager_SRD_SED_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_SM_for_SED_SA</targetReference>
            </connector>
            <label>is SM SED SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SA_GM</name>
        <label>Is SA GM?</label>
        <locationX>9889</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_GM_for_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_SA_GM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_GM_for_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Manager_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approver_GM_SA</targetReference>
            </connector>
            <label>Set SA GM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SM_or_BLM_for_TLD_SA</name>
        <label>Is SM or BLM for TLD SA</label>
        <locationX>11649</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Find_SM_and_BLM_for_TLD_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SM_for_TLD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_TLD_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Operations_Manager_TLD_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SM_for_TLD_SA</targetReference>
            </connector>
            <label>Is SM for TLD SA</label>
        </rules>
        <rules>
            <name>Is_BLM_for_TLD_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_TLD_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_TLD_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_for_TLD_SA</targetReference>
            </connector>
            <label>Is BLM for TLD SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SM_or_BLM_for_UMR_SA</name>
        <label>Is SM or BLM for UMR SA</label>
        <locationX>12393</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Find_SM_and_BLM_for_UMR_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SM_for_UMR_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_UMR_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Manager_UMR_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SM_for_UMR_SA</targetReference>
            </connector>
            <label>Is SM for UMR SA</label>
        </rules>
        <rules>
            <name>Is_BLM_for_UMR_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_SM_and_BLM_for_UMR_SA.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_UMR_SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BLM_for_UMR_SA</targetReference>
            </connector>
            <label>Is BLM for UMR SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Criteria_for_approval</name>
        <label>Meets Criteria for approval</label>
        <locationX>2343</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_the_prequisites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_users</targetReference>
            </connector>
            <label>has the prequisites</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Criteria_for_approval_SA</name>
        <label>Meets Criteria for approval SA</label>
        <locationX>11327</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_the_prequisites_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leading_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_users_SA</targetReference>
            </connector>
            <label>has the prequisites SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>set_blm_for_psd</name>
        <label>set blm for psd</label>
        <locationX>2501</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>find_blm_for_psd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blm_for_psd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_blm_for_psd.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_PSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_blm_for_psd</targetReference>
            </connector>
            <label>blm for psd</label>
        </rules>
    </decisions>
    <decisions>
        <name>set_blm_for_srd</name>
        <label>set blm for srd</label>
        <locationX>1277</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>find_blm_for_ADS_SED_SMT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blm_for_srd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_blm_for_ADS_SED_SMT.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_SRD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_record_for_blm_srd</targetReference>
            </connector>
            <label>blm for srd</label>
        </rules>
    </decisions>
    <decisions>
        <name>setblmfortld</name>
        <label>set blm for tld</label>
        <locationX>2021</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>find_blm_for_tld</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blm_for_tld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_blm_for_tld.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLM_TLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_record_for_blm_tld</targetReference>
            </connector>
            <label>blm for tld</label>
        </rules>
    </decisions>
    <decisions>
        <name>Simple_or_complex</name>
        <label>Simple or complex</label>
        <locationX>1733</locationX>
        <locationY>2135</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Simple_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simple_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>approval_stage_simple</targetReference>
            </connector>
            <label>Simple Opp</label>
        </rules>
        <rules>
            <name>complex_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex_bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>approval_stage_complex</targetReference>
            </connector>
            <label>complex opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichSAcountry</name>
        <label>whichSAcountry</label>
        <locationX>5528</locationX>
        <locationY>2591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZAF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Approval_Tier</targetReference>
            </connector>
            <label>ZAF</label>
        </rules>
        <rules>
            <name>ZWE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Approval_Tier</targetReference>
            </connector>
            <label>ZWE</label>
        </rules>
        <rules>
            <name>NAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Approval_Tier</targetReference>
            </connector>
            <label>NAM</label>
        </rules>
        <rules>
            <name>BWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__r.Alpha_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Approval_Tier</targetReference>
            </connector>
            <label>BWA</label>
        </rules>
    </decisions>
    <interviewLabel>approvals opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>approvals opps</label>
    <loops>
        <name>find_blm_for_ADS_SED_SMT</name>
        <label>find blm for ADS,SED,SMT</label>
        <locationX>1057</locationX>
        <locationY>1487</locationY>
        <collectionReference>users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_blm_for_srd</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Simple_or_complex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>find_blm_for_psd</name>
        <label>find blm for psd</label>
        <locationX>2281</locationX>
        <locationY>1487</locationY>
        <collectionReference>users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_blm_for_psd</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Simple_or_complex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>find_blm_for_tld</name>
        <label>find blm for tld</label>
        <locationX>1801</locationX>
        <locationY>1487</locationY>
        <collectionReference>users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setblmfortld</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Simple_or_complex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_SM_and_BLM_for_ADS_SA</name>
        <label>Find SM and BLM for ADS SA</label>
        <locationX>9281</locationX>
        <locationY>1607</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_BLM_or_SM_for_ADS_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Simple_or_complex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_SM_and_BLM_for_SED_SA</name>
        <label>Find SM and BLM for SED SA</label>
        <locationX>10025</locationX>
        <locationY>1607</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_BLM_or_SM_for_SED_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Simple_or_complex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_SM_and_BLM_for_TLD_SA</name>
        <label>Find SM and BLM for TLD SA</label>
        <locationX>11297</locationX>
        <locationY>1487</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_SM_or_BLM_for_TLD_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Simple_or_complex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_SM_and_BLM_for_UMR_SA</name>
        <label>Find SM and BLM for UMR SA</label>
        <locationX>12041</locationX>
        <locationY>1487</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_SM_or_BLM_for_UMR_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Simple_or_complex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>set_approvers</name>
        <label>set approvers</label>
        <locationX>1733</locationX>
        <locationY>815</locationY>
        <collectionReference>users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_BLM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_BLM_for_DSD_SA</name>
        <label>Set BLM for DSD SA</label>
        <locationX>7785</locationX>
        <locationY>1487</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_BLM_for_DSD_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_SM_for_DSD_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_BLM_for_PSD_SA</name>
        <label>Set BLM for PSD SA</label>
        <locationX>8401</locationX>
        <locationY>1487</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_BLM_for_PSD_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_SM_for_PSD_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_GM_for_SA</name>
        <label>Set GM for SA</label>
        <locationX>9669</locationX>
        <locationY>815</locationY>
        <collectionReference>get_all_users_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_SA_GM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_BLM_and_SM_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_users</name>
        <label>get all users</label>
        <locationX>1733</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_users_to_variable</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_users_SA</name>
        <label>get all users SA</label>
        <locationX>9669</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_users_to_variable_SA</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assign_BLM_ADS_SA</name>
        <label>assign BLM ADS SA</label>
        <locationX>9369</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_ADS_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_ADS_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_and_SM_SMT_SA</name>
        <label>assign BLM and SM SMT SA</label>
        <locationX>10153</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Copy_1_of_Simple_or_complex</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>$Record.Approval_criteria_GM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>$Record.Approval_criteria_GM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_for_DSD_SA</name>
        <label>assign BLM for DSD SA</label>
        <locationX>7873</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Set_BLM_for_DSD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Set_BLM_for_DSD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_for_PSD_SA</name>
        <label>assign BLM for PSD SA</label>
        <locationX>8489</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Set_BLM_for_PSD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Set_BLM_for_PSD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_for_TLD_SA</name>
        <label>assign BLM for TLD SA</label>
        <locationX>11649</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_TLD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_TLD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_for_UMR_SA</name>
        <label>assign BLM for UMR SA</label>
        <locationX>12393</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_UMR_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_UMR_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_BLM_SED_SA</name>
        <label>assign BLM SED SA</label>
        <locationX>10113</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_SED_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_SED_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_SM_and_BLM_for_TIN_SA</name>
        <label>Assign SM and BLM for TIN SA</label>
        <locationX>7169</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Copy_1_of_Simple_or_complex</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>$Record.Approval_criteria_GM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>$Record.Approval_criteria_GM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_SM_for_TLD_SA</name>
        <label>assign SM for TLD SA</label>
        <locationX>11385</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_TLD_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_TLD_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_SM_for_UMR_SA</name>
        <label>assign SM for UMR SA</label>
        <locationX>12129</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_UMR_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_UMR_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>is_SM_for_ADS_SA</name>
        <label>is SM for ADS SA</label>
        <locationX>9633</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_ADS_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_ADS_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>is_SM_for_SED_SA</name>
        <label>is SM for SED SA</label>
        <locationX>10377</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Find_SM_and_BLM_for_SED_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>Find_SM_and_BLM_for_SED_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approver_GM_SA</name>
        <label>Set Approver GM SA</label>
        <locationX>9757</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Set_GM_for_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_GM__c</field>
            <value>
                <elementReference>Set_GM_for_SA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_BLM_for_RVT_and_URE</name>
        <label>set BLM for RVT and URE</label>
        <locationX>1185</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Simple_or_complex</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>$Record.Approval_criteria_GM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_GM</name>
        <label>set GM</label>
        <locationX>2085</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>set_approvers</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_GM__c</field>
            <value>
                <elementReference>set_approvers.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_SM</name>
        <label>set SM</label>
        <locationX>1821</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>set_approvers</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>set_approvers.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SM_for_DSD_SA</name>
        <label>Set SM for DSD SA</label>
        <locationX>7785</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Copy_1_of_Simple_or_complex</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>$Record.Approval_criteria_GM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SM_for_PSD_SA</name>
        <label>Set SM for PSD SA</label>
        <locationX>8401</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Copy_1_of_Simple_or_complex</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_Sales_Manager__c</field>
            <value>
                <elementReference>$Record.Approval_criteria_GM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_blm_for_psd</name>
        <label>update blm for psd</label>
        <locationX>2369</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>find_blm_for_psd</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>find_blm_for_psd.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_for_blm_srd</name>
        <label>update record for blm srd</label>
        <locationX>1145</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>find_blm_for_ADS_SED_SMT</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>find_blm_for_ADS_SED_SMT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_for_blm_tld</name>
        <label>update record for blm tld</label>
        <locationX>1889</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>find_blm_for_tld</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_criteria_BLM__c</field>
            <value>
                <elementReference>find_blm_for_tld.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>6392</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Country</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
