force-app/main/default/flows/Create_a_Monthly_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CountOpp</name>
        <label>CountOpp</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>NoOfWonOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getOppWonCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfLostOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getOppLostCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfPastMeetings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getPastMeetings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfPlannedMeetings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getFutureMeetings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createMonthlyReport</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Months</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Month__c</picklistField>
        <picklistObject>Monthly_Sales_Report__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Year</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Chosen_Year__c</picklistField>
        <picklistObject>Monthly_Sales_Report__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AddTwoMonth</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(VALUE({!getYear}),{!CovertedMonthFromSalesReport},1),2)</expression>
    </formulas>
    <formulas>
        <name>ConvertToDateAndAddOneMonth</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(VALUE({!getYear}),{!CovertedMonthFromSalesReport},1),1)</expression>
    </formulas>
    <formulas>
        <name>CovertedMonthFromSalesReport</name>
        <dataType>Number</dataType>
        <expression>CASE({!Month},&quot;January&quot;, 1, &quot;February&quot;, 2,&quot;March&quot;, 3,&quot;April&quot;, 4, &quot;May&quot;, 5, &quot;June&quot;, 6,&quot;July&quot;, 7,&quot;August&quot;, 8,&quot;September&quot;, 9,&quot;October&quot;,10,&quot;November&quot;, 11,&quot;December&quot;, 12,0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>MonthlyReport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Monthly Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createMonthlyReport</name>
        <label>createMonthlyReport</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>Key_Activities__c</field>
            <value>
                <elementReference>NoOfPastMeetings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Opportunities__c</field>
            <value>
                <elementReference>NoOfLostOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Visits_Next_Month__c</field>
            <value>
                <elementReference>NoOfPlannedMeetings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunities__c</field>
            <value>
                <elementReference>NoOfWonOpp</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Sales_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getFutureMeetings</name>
        <label>getFutureMeetings</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ConvertToDateAndAddOneMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>AddTwoMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOppLostCount</name>
        <label>getOppLostCount</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPastMeetings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OppCreatedMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOppWonCount</name>
        <label>getOppWonCount</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOppLostCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OppCreatedMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPastMeetings</name>
        <label>getPastMeetings</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFutureMeetings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>activityCreatedMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Monthly_Report</name>
        <label>Monthly Report</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOppWonCount</targetReference>
        </connector>
        <fields>
            <name>Month</name>
            <choiceReferences>Months</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SalesYear</name>
            <choiceReferences>Year</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Monthly_Report</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>getMonth</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Months}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>getYear</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Year}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NoOfLostOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfPastMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfPlannedMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfWonOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
