force-app/main/default/flows/Create_Monthly_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CountOpp</name>
        <label>CountOpp</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>NoOfWonOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getOppWonCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfLostOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getOppLostCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfPastMeetings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getPastMeetings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createMonthlyReport</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Months</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Month__c</picklistField>
        <picklistObject>Monthly_Sales_Report__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Monthly Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Monthly Reports</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createMonthlyReport</name>
        <label>createMonthlyReport</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>Key_Activities__c</field>
            <value>
                <elementReference>NoOfPastMeetings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Opportunities__c</field>
            <value>
                <elementReference>NoOfLostOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunities__c</field>
            <value>
                <elementReference>NoOfWonOpp</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Sales_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOppLostCount</name>
        <label>getOppLostCount</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPastMeetings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OppCreatedMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOppWonCount</name>
        <label>getOppWonCount</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOppLostCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OppCreatedMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPastMeetings</name>
        <label>getPastMeetings</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>activityCreatedMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Monthly_Report</name>
        <label>Monthly Report</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOppWonCount</targetReference>
        </connector>
        <fields>
            <name>Month</name>
            <choiceReferences>Months</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Monthly_Report</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NoOfLostOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfPastMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfWonOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
