force-app/main/default/flows/Create_Visit_Report_By_Event_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>eventType</name>
        <label>eventTypeFromType</label>
        <locationX>426</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>eventTyp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_reasone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_ID</name>
        <label>Set Account ID</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Typ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_account_id_with_quote_related</name>
        <label>Set account id with quote related</label>
        <locationX>1018</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Qoute.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Typ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_accountId_from_Account_Plan</name>
        <label>Set accountId from Account Plan</label>
        <locationX>1282</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Plan.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Typ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_reason</name>
        <label>Set reason</label>
        <locationX>426</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>vRReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VR_Reason_for_Visit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_exists_report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>signOpportunityId</name>
        <label>signOpportunityId</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Typ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>singAccountId</name>
        <label>singAccountId</label>
        <locationX>1546</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Typ</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Typ</name>
        <label>Check Typ</label>
        <locationX>558</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Have_reasone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>haveType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eventType</targetReference>
            </connector>
            <label>haveType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_reasone</name>
        <label>Have reasone</label>
        <locationX>558</locationX>
        <locationY>2591</locationY>
        <defaultConnector>
            <targetReference>Get_exists_report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>have_vr_reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VR_Reason_for_Visit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_reason</targetReference>
            </connector>
            <label>have vr reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_creates_from_an_opportunity</name>
        <label>If creates from an opportunity</label>
        <locationX>558</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>If_is_Contact_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>signOpportunityId</targetReference>
            </connector>
            <label>IsOpportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Deleted</name>
        <label>If Deleted</label>
        <locationX>304</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_visit_report</targetReference>
            </connector>
            <label>Is Deleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_have_exists_report</name>
        <label>If have exists report</label>
        <locationX>558</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Create_Visit_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_exists_report</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_report</targetReference>
            </connector>
            <label>Is exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_is_a_quote</name>
        <label>If is a quote</label>
        <locationX>1216</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>If_is_Account_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Qoute</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_account_id_with_quote_related</targetReference>
            </connector>
            <label>is quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_is_Account_Plan</name>
        <label>If is Account Plan</label>
        <locationX>1414</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>singAccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_account_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Plan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_accountId_from_Account_Plan</targetReference>
            </connector>
            <label>is account plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_is_Contact_id</name>
        <label>If is Contact id</label>
        <locationX>803</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>If_Is_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContactId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_ID</targetReference>
            </connector>
            <label>isContactId</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Is_Lead</name>
        <label>If is Lead</label>
        <locationX>1029</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>If_is_a_quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Typ</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
    </decisions>
    <description>When create a event, it will create a visit report as well if &quot;do not create visit report&quot; checkbox is unchecked</description>
    <formulas>
        <name>EventHyperlink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://epirocrockdrills--sitsbx.sandbox.lightning.force.com/lightning/r/Event/{!$Record.Id}/view&quot;, {!$Record.Subject}, &quot;_self&quot;)</expression>
    </formulas>
    <interviewLabel>Create Visit Report By Event Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Visit Report By Event Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Visit_Report</name>
        <label>Create Visit Report</label>
        <locationX>690</locationX>
        <locationY>3167</locationY>
        <connector>
            <targetReference>Visit_Report_Populate</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventName__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linked_Opportunity__c</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Event {!$Record.Subject}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_visit__c</field>
            <value>
                <elementReference>vRReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Visit__c</field>
            <value>
                <elementReference>$Record.Type_of_Meeting__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Plan</name>
        <label>Get Account Plan</label>
        <locationX>558</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_creates_from_an_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>558</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_exists_report</name>
        <label>Get exists report</label>
        <locationX>558</locationX>
        <locationY>2927</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_have_exists_report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>558</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Qoute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>558</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Qoute</name>
        <label>Get Quote</label>
        <locationX>558</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_report</name>
        <label>Update report</label>
        <locationX>426</locationX>
        <locationY>3167</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linked_Opportunity__c</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_visit__c</field>
            <value>
                <elementReference>vRReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Visit__c</field>
            <value>
                <elementReference>$Record.Type_of_Meeting__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_visit_report</name>
        <label>Update visit report</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EventId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventName__c</field>
            <value>
                <stringValue>&quot;deleted&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Visit_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Visit_Report_Populate</name>
        <label>Visit Report Populate</label>
        <locationX>690</locationX>
        <locationY>3287</locationY>
        <inputAssignments>
            <field>Visit_Report__c</field>
            <value>
                <elementReference>Create_Visit_Report</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Deleted</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Do_not_create_visit_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>eventTyp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TBD</stringValue>
        </value>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TBD</stringValue>
        </value>
    </variables>
</Flow>
