force-app/main/default/flows/Leads_HS_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assigning_Value_to_Picklist</name>
        <label>Assigning Value to Picklist</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PiclikstValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiclikstValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_If_Lead_Source_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assigning_Value_to_Picklist</name>
        <label>Assigning Value to Picklist</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>PiclikstValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Lead_Sub_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiclikstValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HS_Sync_Property_Updates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_If_Lead_Source_Changed</name>
        <label>If Lead Sub Source Changed</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>HS_Sync_Property_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Sub_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assigning_Value_to_Picklist</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Lead_Source_Changed</name>
        <label>If Lead Source Changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_If_Lead_Source_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Value_to_Picklist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Leads HS Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Leads HS Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>HS_Sync_Property_Updates</name>
        <label>HS Sync Property Updates</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>HS_Sync_Property_Updates__c</field>
            <value>
                <elementReference>$Record.HS_Sync_Property_Updates__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Lead_Source_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Lead_Source__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Sub_Source__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rating</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PiclikstValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
