force-app/main/default/flows/Monthly_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NrOfWon</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getOppWonCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NrOfLost</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getOppLostCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createMonthlyReport</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>April</name>
        <choiceText>April</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>April</stringValue>
        </value>
    </choices>
    <choices>
        <name>August</name>
        <choiceText>August</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>August</stringValue>
        </value>
    </choices>
    <choices>
        <name>December</name>
        <choiceText>December</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>December</stringValue>
        </value>
    </choices>
    <choices>
        <name>February</name>
        <choiceText>February</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>February</stringValue>
        </value>
    </choices>
    <choices>
        <name>January</name>
        <choiceText>January</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>January</stringValue>
        </value>
    </choices>
    <choices>
        <name>July</name>
        <choiceText>July</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>July</stringValue>
        </value>
    </choices>
    <choices>
        <name>June</name>
        <choiceText>June</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>June</stringValue>
        </value>
    </choices>
    <choices>
        <name>March</name>
        <choiceText>March</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>March</stringValue>
        </value>
    </choices>
    <choices>
        <name>May</name>
        <choiceText>May</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May</stringValue>
        </value>
    </choices>
    <choices>
        <name>November</name>
        <choiceText>November</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>November</stringValue>
        </value>
    </choices>
    <choices>
        <name>October</name>
        <choiceText>October</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>October</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spetember</name>
        <choiceText>Spetember</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spetember</stringValue>
        </value>
    </choices>
    <formulas>
        <name>varMonthText</name>
        <dataType>String</dataType>
        <expression>{!Month}</expression>
    </formulas>
    <formulas>
        <name>varNameMonth</name>
        <dataType>String</dataType>
        <expression>{!Name} + &quot; &quot; + {!Month}</expression>
    </formulas>
    <interviewLabel>Monthly Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monthly Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createMonthlyReport</name>
        <label>createMonthlyReport</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>Focus_Area__c</field>
            <value>
                <elementReference>Focus_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Opportunities__c</field>
            <value>
                <elementReference>NrOfLost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNameMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Competition__c</field>
            <value>
                <elementReference>Competition_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>People_Management__c</field>
            <value>
                <elementReference>People_management</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Red_Flags__c</field>
            <value>
                <elementReference>Red_Flags</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Issues__c</field>
            <value>
                <elementReference>Safety_issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic_Sales_Targets__c</field>
            <value>
                <elementReference>Strategic_Sales_Targets</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Needed__c</field>
            <value>
                <elementReference>Support_needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunities__c</field>
            <value>
                <elementReference>NrOfWon</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Sales_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOppLostCount</name>
        <label>getOppLostCount</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OppCreatedMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMonthText</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Owner_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOppWonCount</name>
        <label>getOppWonCount</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOppLostCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OppCreatedMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMonthText</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Owner_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>MonthlyReport</name>
        <label>New Monthly Report</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOppWonCount</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name of User</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Month</name>
            <choiceReferences>January</choiceReferences>
            <choiceReferences>February</choiceReferences>
            <choiceReferences>March</choiceReferences>
            <choiceReferences>April</choiceReferences>
            <choiceReferences>May</choiceReferences>
            <choiceReferences>June</choiceReferences>
            <choiceReferences>July</choiceReferences>
            <choiceReferences>August</choiceReferences>
            <choiceReferences>Spetember</choiceReferences>
            <choiceReferences>October</choiceReferences>
            <choiceReferences>November</choiceReferences>
            <choiceReferences>December</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Focus_Area</name>
            <dataType>String</dataType>
            <fieldText>Focus Area</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Strategic_Sales_Targets</name>
            <dataType>String</dataType>
            <fieldText>Strategic Sales Targets</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competition_New</name>
            <dataType>String</dataType>
            <fieldText>Competition New</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Safety_issues</name>
            <dataType>String</dataType>
            <fieldText>Safety issues</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Support_needed</name>
            <dataType>String</dataType>
            <fieldText>Support needed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>People_management</name>
            <dataType>String</dataType>
            <fieldText>People management</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Red_Flags</name>
            <dataType>String</dataType>
            <fieldText>Red Flags</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MonthlyReport</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NrOfLost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NrOfWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Month</elementReference>
        </value>
    </variables>
</Flow>
