force-app/main/default/flows/Opportunity_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Probability_Assignment</name>
        <label>Probability Assignment</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>70</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Probability_Assignment</name>
        <label>Probability Assignment</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>30</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Probability_Assignment</name>
        <label>Probability Assignment</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Probability_Assignment</name>
        <label>Probability Assignment</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>70</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Probability_Assignment</name>
        <label>Probability Assignment</label>
        <locationX>1634</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Probability_Assignment</name>
        <label>Probability Assignment</label>
        <locationX>1898</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Probability_Assignment</name>
        <label>Probability Assignment</label>
        <locationX>1370</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>90</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Probability_Assignment</name>
        <label>Probability Assignment</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Probability</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Update</name>
        <label>Create/Update</label>
        <locationX>1722</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probability__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stages</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stages</name>
        <label>Stages</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Probability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Probability_Assignment</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Understand_Needs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Understand Needs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Understand Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Probability_Assignment</targetReference>
            </connector>
            <label>Understand Needs</label>
        </rules>
        <rules>
            <name>Create_Quote</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Probability_Assignment</targetReference>
            </connector>
            <label>Create Quote</label>
        </rules>
        <rules>
            <name>Create_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Probability_Assignment</targetReference>
            </connector>
            <label>Create Proposal</label>
        </rules>
        <rules>
            <name>Follow_up_Quote</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Probability_Assignment</targetReference>
            </connector>
            <label>Follow-up Quote</label>
        </rules>
        <rules>
            <name>Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Probability_Assignment</targetReference>
            </connector>
            <label>Negotiation</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Probability_Assignment</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Loss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Probability_Assignment</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Probability</name>
        <label>Update Probability</label>
        <locationX>1106</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>Probability</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Update</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Probability</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
