force-app/main/default/flows/Quote_Clone_Flow_Quote_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Line_Item_Records_to_collection</name>
        <label>Assign Line Item Records to collection</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Newlineitemrecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewQuoteLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Original_Quote_ID</name>
        <label>Assign Original Quote ID</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>OriginalQuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_Cloned_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NewQuoteLines.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.List_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.List_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.Managed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Managed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.Ref_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Ref_no__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.Subtotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Subtotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.TaxFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.TaxFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLines.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Item_Records_to_collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Quote Clone Flow - Quote Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Clone Flow - Quote Clone</label>
    <loops>
        <name>Loop_Through_Line_Items</name>
        <label>Loop Through Line Items</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <inputReference>Newlineitemrecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quote</name>
        <label>Lookup Quote</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Original_Quote_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_quote_name</name>
        <label>Update New quote name</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Field_Quote_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Quote_Name</name>
        <label>Quote Name</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Quote</targetReference>
        </connector>
        <fields>
            <name>Field_Quote_Name</name>
            <dataType>String</dataType>
            <fieldText>Quote Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_the_Cloned_Quote</name>
        <label>Create the Cloned Quote</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_New_quote_name</targetReference>
        </connector>
        <flowName>Quote_Clone_Flow_Quote_Create</flowName>
        <inputAssignments>
            <name>OriginalQuote</name>
            <value>
                <elementReference>Lookup_Quote</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewQuote</assignToReference>
            <name>OriginalQuote</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Newlineitemrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>NewQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>NewQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>OriginalQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
