force-app/main/default/flows/Task_DynamicPopulate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Related_to_Account_Opp_Task_Series</name>
        <label>Related to --&gt; Account/Opp/Task Series</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activity_Series</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Activity_Series</targetReference>
            </connector>
            <label>Activity Series</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0017</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0067</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Info</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task DynamicPopulate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task DynamicPopulate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Info</name>
        <label>Get Opp Info</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Account_from_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OppsAccID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Account</name>
        <label>Populate Account</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_to_Object__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Account_from_Opportunity</name>
        <label>Populate Account from Opportunity</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>OppsAccID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_to_Object__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Activity_Series</name>
        <label>Populate Activity Series</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Activity_Serie__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_to_Object__c</field>
            <value>
                <stringValue>Activity Serie</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_to_Account_Opp_Task_Series</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppsAccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
